:root {
    --bg-color-2: rgb(238, 238, 238);
    --border-color-1: rgb(0, 0, 255);
    --filter-2: rgb(0, 0, 0);
    --bg-color-3: rgba(0, 0, 255, 0.250);
    --text-color-1: #000000;
    --bg-color-4: rgba(0, 0, 255, 0.500);
    --text-color-2: rgb(128, 128, 128);
    --bg-color-5: rgb(0, 0, 255);
    --text-color-3: rgb(255, 255, 255);
}

body.dark-mode {
    --bg-color-2: rgb(17, 17, 17);
    --border-color-1: rgb(0, 255, 255);
    --filter-2: rgb(0, 255, 255);
    --bg-color-3: rgb(0, 0, 0);
    --text-color-1: #00ffff;
    --bg-color-4: rgba(0, 0, 0);
    --text-color-2: rgb(0, 255, 255);
    --bg-color-5: rgb(0, 255, 255);
    --text-color-3: rgb(0, 0, 0);
}

.fromBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 92vw;
    height: 100%;
}

.row {
    display: flex;
    padding-right: 32px;
    color: var(--text-color-1);
}

.column1,
.column2 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 50%;
}

.column3 {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 50%;
}

.QuantityAndUnit {
    display: flex;
}

.QUANTITY,
.UNIT {
    display: flex;
    flex-direction: column;
}

.inputField {
    background-color: transparent;
    width: 75%;
    border: 2px solid var(--border-color-1);
    border-radius: 16px;
    padding: 6px 12px;
    margin-left: 16px;
    color: var(--text-color-1);
}

.inputField:hover {
    background-color: var(--bg-color-3);
}

.inputField:focus-visible {
    outline: none;
    background-color: var(--bg-color-3);
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
    display: none;
}

/* column 3 */

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 250px;
    height: 250px;
    border: 2px dashed var(--border-color-1);
    border-radius: 16px;
    padding: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.upload-box:hover {
    background-color: var(--bg-color-3);
}

.upload-box.dragOver {
    background-color: var(--bg-color-4);
}

.upload-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-2);
}

.preview-img {
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 16px;
}

.TEXTAREA {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 250px;
}

/* ------------------------------ */

.formButtons {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    margin: 0px 32px 16px 0px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 32px;
    background-color: transparent;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    color: var(--text-color-1);
}

.button:hover {
    background-color: var(--bg-color-5);
    color: var(--text-color-3);
    border-color: transparent;
    cursor: pointer;
}

#bu7 {
    display: none;
}

#bu10 {
    display: none;
}

.resetWindow,
.saveWindow,
.updateWindow,
.deleteWindow,
.soldWindow,
.orderWindow {
    position: absolute;
    top: 35%;
    left: 35%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--bg-color-2);
    width: 360px;
    height: 180px;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 4px var(--filter-2));
}

.resetWindow p,
.saveWindow p,
.updateWindow p,
.deleteWindow p,
.soldWindow p,
.orderWindow p {
    filter: none;
}

.resetWdMessage,
.saveWdMessage,
.updateWdMessage,
.deleteWdMessage,
.soldWdMessage,
.orderWdMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-1);
}

.restWdButton,
.saveWdButton,
.updateWdButton,
.deleteWdButton,
.soldWdButton,
.orderWdButton {
    display: flex;
    justify-content: space-around;
}

.resetDoneMessage {
    position: absolute;
    top: -10%;
    left: 42.53%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-2);
    width: 180px;
    height: 45px;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    transition: linear 0.3s;
    filter: drop-shadow(0px 0px 4px var(--filter-2));
    color: var(--text-color-1);
}

.savedDoneMessage {
    position: absolute;
    top: -20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-2);
    width: 360px;
    height: 90px;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    transition: linear 0.3s;
    filter: drop-shadow(0px 0px 4px var(--filter-2));
    color: var(--text-color-1);
}

.updatedDoneMessage {
    position: absolute;
    top: -20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-2);
    width: 360px;
    height: 90px;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    transition: linear 0.3s;
    filter: drop-shadow(0px 0px 4px var(--filter-2));
    color: var(--text-color-1);
}

.deletedDoneMessage {
    position: absolute;
    top: -20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-2);
    width: 360px;
    height: 90px;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    transition: linear 0.3s;
    filter: drop-shadow(0px 0px 4px var(--filter-2));
    color: var(--text-color-1);
}

.TooLargerImage {
    position: absolute;
    top: -20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-color-2);
    width: 360px;
    height: 90px;
    border: var(--border-color-1) 2px solid;
    border-radius: 16px;
    transition: linear 0.3s;
    filter: drop-shadow(0px 0px 4px var(--filter-2));
    color: var(--text-color-1);
}