:root {
    --bg-color-1: rgb(250, 250, 250);
    --border-color: rgb(0, 0, 255); 
    --filter-2: drop-shadow(0px 0px 6px rgb(0, 0, 0));
    --bg-color-3: rgba(0, 0, 255, 0.250);
    --border-color-2: none;
    --stroke-color-1: #000000;
    --fill-color: #2ca9bc;
    --text-color: #000000;
    --bg-scrollbar: rgb(221, 221, 221);
    --bg-color-scroll: rgb(187, 187, 187);
    --border-color-scroll: rgb(221, 221, 221);
    --bg-color-scroll-hover: rgb(119, 119, 119);
}

body.dark-mode {
    --bg-color-1: rgb(5, 5, 5);
    --border-color: rgb(0, 255, 255);
    --filter-2: drop-shadow(0px 0px 6px rgb(0, 255, 255));
    --bg-color-3: rgb(0, 0, 0);
    --border-color-2: rgb(0, 255, 255);
    --stroke-color-1: #00ffff;
    --fill-color: #000000;
    --text-color: #00ffff;
    --bg-scrollbar: rgb(34, 34, 34);
    --bg-color-scroll: rgb(68, 68, 68);
    --border-color-scroll: rgb(34, 34, 34);
    --bg-color-scroll-hover: rgb(136, 136, 136);
}

.itemCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    overflow-y: auto;
}

.itemCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

.itemImage {
    width: 180px;
    height: 180px;
}

.itemImage img {
    width: 180px;
    height: 180px;
    border-radius: 8px 8px 0px 0px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--bg-color-1);
    color: var(--text-color);
}

.itemDetails p {
    text-align: center;
}

.VEDOptions {
    position: absolute;
    right: 0px;
    bottom: 70px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    opacity: 0;
}

.itemCard:hover .VEDOptions {
    bottom: 175px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.VEDOptions img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    padding: 4px;
    border-radius: 8px;
}

img[title="view item"],
img[title="edit item"],
img[title="remove item"] {
    background-color: var(--bg-color-1);
    border-radius: 8px;
    filter: var(--filter-2);
}

img[title="view item"]:hover,
img[title="edit item"]:hover,
img[title="remove item"]:hover {
    background-color: var(--bg-color-3);
    filter: none;
    border: 2px solid var(--border-color-2);
}

.itemCard:hover .itemImage img {
    filter: blur(4px) brightness(0.9);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

select:disabled {
    border-color: var(--border-color);
    color: var(--text-color);
    opacity: 1;
    /* remove default dimming */
    cursor: not-allowed;
}

/* For Chrome/Edge/Safari/Opera */
::-webkit-scrollbar {
    width: 16px;
    /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: var(--bg-scrollbar);
    /* Track (background) color */
    border-radius: 8px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-scroll);
    /* Scroll handle color */
    border-radius: 8px;
    /* Rounded corners */
    border: 2px solid var(--border-color-scroll);
    /* Space around handle */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color-scroll-hover);
    /* Handle hover effect */
}